p{
	color: blue;
}


/*NavBar*/
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 10px;
  width: auto;
}

.example-7 .navbar-brand {
  height: 80px;
}

.example-7 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.example-7 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

@media only screen and (max-width : 767px){
  .example-7 .navbar-brand {
  padding: 0px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  }
  .example-7 .navbar-brand>img {
  height: 100%;
  width: auto;
  padding: 7px auto; 
  /*max-width: 100%;*/
  }
}
