/*p{
	color: blue;
}
*/
/*>>>>>>>>>>>>>>>>>>>>>>>>>NavBar<<<<<<<<<<<<<<<<<<<<<<<<<*/

.navbar{
	background-color:rgba(44,44,44,0.95);
	/*background-image: none;*/
}

/*.navbar-fixed-top {
  top: -10px;  you'll have to figure out the exact number here 
}*/

/*.navbar-fixed-top, .navbar-fixed-bottom {
  position: static;
  width: 100%;
  padding: 0; /* this can also be static 
}*/

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 10px;
  width: auto;
}

.example-7 .navbar-brand {
  height: 80px;
}

.example-7 .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.example-7 .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

@media only screen and (max-width : 767px){
  .example-7 .navbar-brand {
  padding: 0px;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  }
  .example-7 .navbar-brand>img {
  height: 100%;
  width: auto;
  padding: 7px 14px; 
  /*max-width: 100%;*/
  }
  .example-7 .nav >li >a {
  padding-top: 10px;
  padding-bottom: 10px;
}
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>Navbar End<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*>>>>>>>>>>>>>>>>>>>>>>>>>Coming Soon<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
/*orig - /static/coming.jpg*/
/*https://cdn.pixabay.com/photo/2017/01/26/21/32/background-2011768__340.jpg*/


.bgimg2{
  background-image: url('/static/3.jpg');
  min-height: 100vh;

  background-position: center;
  background-size: cover;
}


.buttonEffect{
  background-color: transparent;
  border:2px solid white;
  border-radius: 7px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: inline-block;
  text-align: center;
  transition: all 0.5s;
  font-size: 40px;
}
.buttonEffect h3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonEffect h3:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonEffect:hover h3 {
  padding-right: 25px;
}

.buttonEffect:hover h3:after {
  opacity: 1;
  right: 0;
}

.zommin i{
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.zommin:hover i {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.sblock{border:1px solid transparent; -webkit-transition: all 0.5s ease;
             -moz-transition: all 0.5s ease;
               -o-transition: all 0.5s ease;
                 }
.sblock:hover { border:1px solid rgba(5, 195, 249, 0.5); background:rgba(5, 195, 249, 0.5); }

.contact{
  text-align:center;
  padding:20px 20px 30px 20px;
}

.mobilePhoneIcon{
  position: fixed;
  z-index: 3;
  bottom: 1em;
  right: 1em;
}
.mobilePhoneIcon i{
  color: white;
}

.btn-circle{
  width: 50px;
  height: 50px;
  padding: 10px 10px;
  padding-top: 7px; 
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  /*background-color: orange;*/
}